.drawer-hamburger-icon,.drawer-hamburger-icon:after,.drawer-hamburger-icon:before
{ background-color:#fff; }

.drawer-hamburger		{ margin:1%;border:1px solid #000;border-radius:4px;
						 background-color:#000; }
